.profile-picture {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.cursive-writing {
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
}

.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
